body {
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  color: #9e9ea4;
  font-family: "Montserrat", sans-serif;
}

.icon,
.icon_header {
  vertical-align: middle;
  font-size: 25px;
}

.icon,
.icon_header {
  margin-right: 8px;
}

.close-icon {
  color: red;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

/* Header */

.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}

.header-right {
  display: flex;
  gap: 10px;
}

.header-right > .icon,
.header-left > .icon {
  font-size: 25px;
}
/* End Header */

/* Sidebar */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #263043;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #9e9ea4;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}
.menu-icon:hover,
span:hover {
  cursor: pointer;
}
/* End Sidebar  */

/* Main  */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.product-card {
  background-color: #2962ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.frontend-card {
  background-color: #0ab113;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.backend-card {
  background-color: #ff6d00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.web3-card {
  background-color: #947979;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.card-inner > .card_icon {
  font-size: 70px;
}

a {
  text-decoration: none;
  color: white;
}

/* End Main  */

/* Start Products */
.path-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.path-cards > .card {
  background-color: white;
  color: rgb(117, 116, 116);
}

.path-card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.path-card-inner > img {
  width: 100px;
  height: 100px;
}

h2 {
  text-align: center;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* End Products */

/* Table  */
.interns-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #5a5a5c;
}
th {
  background-color: #49494b; /* Gray background for header cells */
  text-align: left;
  padding: 8px;
}

td {
  border: 1px solid #b9b9b9; /* Gray border */
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #6f6f72; /* White background for odd rows */
}

tr:hover {
  background-color: #3a3939;
  cursor: pointer;
}

/* Table  */

/* Medium 992px  */

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  .main-cards {
    display: grid;
    grid-template-columns: 1fr;
  }

  .path-cards {
    display: grid;
    grid-template-columns: 1fr;
  }
  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}
